# Server configuration
PORT=3000

# Client connection
CLIENT_URL=http://localhost:5173

# Database connection (PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
